$fontFamily: 'Asap', sans-serif;
$textColor: #4d4d4d;

body {
    margin: 0;
    /*padding: 25px 125px 0 125px;
    background-image: url(../image/bg_element.png);*/
}

header {
    display: flex;
    justify-content: space-between;
    z-index: 9;
}

.logo {
    text-align: center;
    p {
    margin-top: 3px;
    color: $textColor;
    font-family: $fontFamily;
    letter-spacing: 2px;
    }
}

.nav ul {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    width: 480px;
}

.nav li {
    z-index: 99;
    list-style: none;
    display: inline; 
    a {
        text-decoration: none;
        color: $textColor;
        font-family: $fontFamily;
    }
}

li:active, li:hover {
    display: block;
    border-bottom: 1px solid $textColor;
    padding-bottom: 5px;
}

.section:first-child {
    background-image: url(../image/bg_element.png);
  }
  
.section:nth-child(2) {
    background: rgb(212, 20, 20);
  }
  
.section:last-child {
    background: #76ff7c;
  }


/*.home {
    background-image: url('../image/img_face.png');
    background-position: right top; 
    background-repeat: no-repeat; 
    height: 640px;
    width: auto;
    margin-right: -30px;
}

.text {
    display: inline-block;
    margin-top: 35px;
}

.title {
    color: $textColor;
    font-family: $fontFamily;
    font-size: 100px;
    font-weight: 600;
    margin-bottom: 0px;
    margin-left: -8px;
}

.subtitle {
    margin-top: 0;
    color: #999999;
    font-family: $fontFamily;
    font-weight: 600;
    font-size: 24px;
}

.button button {
    box-sizing: border-box;
    width: 170px;
    height: 50px;
    margin-top: 10px;
    margin-right: 20px;
    color: $textColor;
    font-family: $fontFamily;
    font-size: 17px;
    position: relative;
    z-index: 5;
    cursor: pointer;
}

.button_white {
    background-color: white;
    border: none;
    font-weight: 600;
}

.button_see-through {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid  $textColor;
    font-weight: 600;
}

.button_white:hover {
    border: 1px solid  $textColor; 
}

.button_see-through:hover {
    border: none;
}


.about_me {
    z-index: 50;
    background-image: url('../image/img_bg.png');
    background-position: right center; 
    background-repeat: no-repeat; 
    background-color: #fff;
    height: 700px;

}

/*.about_me-text {
    color: #717171;
    font-family: "Asap", sans-serif;
    h2{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 40px;
    }
}*/
