body{
    margin: 0;
    padding: 0;
}

#top{
    height: 20px;
    background-color: #dddddd;
}

#menu{
    height: 40px;
    padding-top: 10px;
}

#menu ul{
    margin-left: 200px;
    width: 700px;
}

#menu li{
    display: inline-block;
    margin-right: 40px;
}

#menu a:link, #menu a:visited{
    text-decoration: none;
    font-size: 12pt;
    color: #626b79;
}

#menu a:hover{
    text-decoration: underline blue;
}

#task4, #task5, #task6, #task2{
    margin-left: 120px;
    margin-top: 40px;
}

#task5 li.net, li.pad, li.tel{
    margin-left: 20px;
}

#task5 li.f{
    margin-left: 40px;
}

#logo{
    width: 50px;
    float: left;
    margin-left: 70px;
    margin-top: 0px;
    font-family: Tahoma;
}

#welcome{
    float: right;
    margin-right: 90px;
    margin-top: -60px;
}

#welcome a{
    float: right;
    margin-top: 25px;
    color: #626b79;
}